/************************* Introduction *************************/

.introduction
	position: relative
	display: flex
	width: 100%
	height: 100vh
	align-items: center
	justify-content: center

	&::before
		content: "AM"
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		font-size: 40vw
		font-weight: 800
		opacity: .05

	&__content
		color: $c-secondary
		font-size: 16px
		font-weight: 800

		&-el
			display: block

			&--name
				transform: translateX(-30px)
				opacity: 1
				padding-left: 15px
				color: #bbb

			&--description
				transform: matrix( 1.01107311016097,0,0,1.01107311016097,0,0)
				color: $white
				font-size: 16vw
				text-align: center
				text-transform: uppercase
				text-shadow: 10px 18px 35px rgba(88,88,88,.23)

			&--job
				transform: translateX(30px)
				text-align: right
				opacity: 1
				padding-right: 25px
				color: #bbb

	&__arrow
		position: absolute
		bottom: 10%
		left: 50%
		transform: translate(-12px, 0px)
		width: 24px
		fill: $c-highlight
		animation: scrollDown 1.6s infinite

	@media (min-width: 1440px)

		&::before
			font-size: 50vw

		&__content

			&-el

				&--description
					font-size: 340px

	@media (max-height: 540px)

		&__arrow
			animation: none

/************************* About *************************/

.about
	position: relative
	width: 100%
	height: 800px
	background-color: $bg-secondary

	&__wrapper
		display: flex
		align-items: center
		justify-content: flex-end
		height: 700px

		&::before
			content: ""
			position: absolute
			top: 45px
			left: 0
			right: 120px
			bottom: 45px
			border: 10px solid $c-highlight

	&__visual
		position: absolute
		left: 45px
		bottom: 0
		z-index: 2

	&__content
		position: relative
		z-index: 1

		.small-copy
			text-align: left

		&-signature
			position: absolute
			bottom: -175px
			left: 0
			font-size: 30px
			font-family: 'Allura', cursive

	@media (max-width: 991px)

		padding: 60px 0

		&__wrapper
			align-items: flex-start
			justify-content: center

			&::before
				right: 0
				bottom: 0

		&__visual
			bottom: -60px
			left: 50%
			transform: translateX(-50%)

		&__content
			text-align: center

			&-blurb
				padding: 0 15px

				h2
					font-size: 48px

				p
					margin-bottom: 10px

			&-signature
				position: static
				font-size: 24px

	@media (max-width: 767px)

		height: 540px

		&__visual
			width: 335px

		&__content

			&-blurb

				h2
					font-size: 32px

	@media (max-width: 480px)

		height: 480px

		&__wrapper

			&::before
				display: none

		&__visual
			width: 290px
			max-width: 100%

/************************* Web Design *************************/

// .web-design.hellmann
// 	video
// 		position: absolute
// 		top: 50%
// 		right: 52%
// 		transform: translateY(-45%)
// 		margin: 0
// 		max-width: -webkit-fill-available;

.web-design
	position: relative
	width: 100%
	padding: 400px 0px 0px 0
	background-color: $bg-secondary
	overflow: visible

	&__wrapper
		display: flex
		justify-content: flex-start

	&__visual
		position: absolute
		top: 0px
		right: 52%
		width: 828px
		height: 581px
		margin: 0
		position: center
		size: 100%
		repeat: no-repeat
		transform: translateY(-15%)
		transition: 0.3s ease-in-out

	@media (max-width: 991px)

		&__content

			h2
				font-size: 48px

		&__visual
			right: 45%
			width: 741px
			height: 520px

	@media (max-width: 767px)

		height: 525px
		padding: 60px 0

		&__wrapper
			justify-content: center

		&__content
			text-align: center

			h2
				font-size: 32px

				br
					display: none

		&__visual
			top: auto
			right: auto
			left: 50%
			bottom: 0
			transform: translateX(-50%)
			width: 523px
			height: 376px

	@media (max-width: 480px)

		height: 425px

		&__visual
			width: 392px
			height: 275px

/************************* Contact *************************/

.contact
	position: relative
	padding: 60px 0
	background-color: $bg-secondary

	&__wrapper
		display: flex
		align-items: center
		justify-content: space-between
		padding: 60px 0

		&::before
			content: ""
			position: absolute
			top: 0
			left: 75px
			right: 75px
			bottom: 0
			border: 10px solid $c-highlight

	&__visual
		position: relative
		width: 47.5%
		box-shadow: 5px 8px 30px 1px rgba(0,0,0,.21)
		z-index: 2

		img
			display: block
			width: 100%

	&__form
		position: relative
		display: flex
		width: 47.5%
		flex-wrap: wrap
		justify-content: space-between
		padding: 15px 0
		background-color: $bg-secondary
		z-index: 1

		&-el
			padding: 0 0 0 15px
			font-size: 16px
			font-weight: 700
			background-color: transparent
			border: 1px solid $c-secondary
			border-radius: 3px

			&--name,
			&--email
				width: 45%
				height: 50px

			&--message
				width: 100%
				height: 150px
				margin: 20px 0 30px 0
				padding-top: 15px
				resize: none

		input[type="submit"]
			margin-left: auto
			padding: 10px 50px

	@media (max-width: 991px)

		&__heading
			font-size: 48px

		&__wrapper
			flex-direction: column
			padding: 0

			&::before
				top: 45px
				left: 0
				right: 0
				bottom: 45px

		&__visual
			width: 600px
			max-width: 75%
			order: 2

		&__form
			width: 600px
			max-width: 75%
			margin-bottom: 45px
			padding: 0 15px

	@media (max-width: 767px)

		&__heading
			font-size: 32px

		&__form

			&-el

				&--name,
				&--email
					width: 100%

				&--name
					margin-bottom: 10px

				&--message
					margin: 10px 0 20px 0

	@media (max-width: 480px)

		&__wrapper

			&::before
				display: none

		&__visual
			max-width: 100%

		&__form
			max-width: 100%
			padding: 0

			&-el

				&--name,
				&--email
					height: 40px

				&--message
					height: 90px

/************************* Footer *************************/

.footer
	position: relative
	width: 100%
	height: 100px

	&__wrapper
		display: flex
		align-items: center
		justify-content: space-between

	&__logo
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

	&__arrow
		display: flex
		width: 50px
		height: 50px
		align-items: center
		justify-content: center

		&-el
			width: 24px
			fill: $c-highlight

	@media (max-width: 767px)

		height: 150px
		padding: 30px 0

		&__wrapper
			flex-direction: column

		&__copyright
			order: 3

		&__logo
			position: static
			transform: translate(0, 0)
			order: 2

/************************* Project *************************/

.project

	max-width: 100vw
	transition: 0.6s ease-in-out
	opacity: 0
	padding: 40px 0
	background: linear-gradient(180deg, rgba(250,250,250,1) 0%, #eef8f8 100%)
	position: relative
	height: 1600px
	max-height: 500px
	border-bottom: 1px solid #333

.project.shown
	opacity: 1
	max-height: 2000px
	padding: 40px 0

.video-in-project
	max-width: calc((100vw - 100px)/2)

.project img
	position: absolute
	top: 100px
	z-index: 1
	left: calc(((100vw - 980px)/2) - 200px)

.project
	.project-copy-container
		position: absolute
		z-index: 2
		display: grid
		grid-template-columns: 1fr 1fr
		width: 600px
		margin-left: calc((100vw - 980px)/2)
		gap: 2rem

	.project-copy
		font-size: 1rem
		font-weight: 500
		color: #444
		padding-right: 2rem
		height: fit-content

	.project-copy:first-child
		border-right: 1px solid black

	.project-copy:first-child::first-letter
		font-size: 3rem
		color: white
		margin: -12px 3px -12px -7px
		float: left
		background: $c-highlight
		padding: 5px 10px
		font-weight: 600
	p
		margin-bottom: 1rem

.web-design.right
	.project
		.project-copy-container
			position: absolute
			z-index: 2
			display: -ms-grid
			display: grid
			-ms-grid-columns: 1fr 1fr
			grid-template-columns: 1fr 1fr
			width: 600px
			margin-left: 0
			gap: 2rem
			left: 53%
			top: 266px

.web-design.left
	.web-design__wrapper
		display: flex
		justify-content: flex-start
	.web-design__visual
		left: 52%

.web-design.automatli
	.web-design__visual
		z-index: 2
		top: 200px

.web-design.left
	.web-design__visual.move-out-side
		left: 200vw

.web-design.right
	.web-design__visual.move-out-side
		right: 200vw

.web-design.sojournal
	height: auto
	.web-design__wrapper
		position: absolute
		z-index: 3
		left: 53%

	.web-design__visual
		top: 380px
		right: 48%
		height: 1350px
		img
			max-width: 900px
			z-index: 2
			position: absolute
	.project
		max-height: 800px

		img
			top: 410px
			z-index: 1
			left: 50%
			width: 150%
			transform: translateX(-50%)
			max-width: 2500px

	.project.shown
		max-height: 1400px

.web-design.hellmann
	.web-design__visual
		image: url('../img/hellmann/hellmann-portada-5.png')
		z-index: 2

.circle
	position: absolute
	height: 1300px
	width: 1300px
	background-color: #fbdbea
	background-image: linear-gradient(to right, #fbdbea , #fbdbea, #fbdbea , #dbe7fb)
	border-radius: 800px
	top: -200px
	right: 500px
	z-index: 0
	opacity: .4
	-webkit-transform: translateX(0%)
	transform: translate(20%, -160px)

.web-design.abk
	.web-design__visual
		.circle
			background-image: linear-gradient(to right, #acf2fc, #d3f5e8, #d3f5e8, #acf2fc)
			transform: translate(0, 0)
			right: -20%
			top: 200px
			z-index: -1
			height: 1000px
			width: 1000px

		img
			opacity: 0.8
			transform: translate(-200px, 400px)

	.project
		background: linear-gradient(180deg, rgb(250, 250, 250) 0%, #e2f0fb 100%)
		img
			left: -180px
			max-width: 130vw
			top: 470px
	.project.shown
		max-height: 1200px

.web-design.automatli
	.web-design__visual
		.circle
			height: 800px
			width: 800px
			top: 150px
			z-index: 1
			left: -205px
			background-image: linear-gradient(to left, #fcecd3, #dbe7fb)
		img
			position: absolute
			top: 180px
			left: -50px
			width: 800px
			z-index: 3
			filter: drop-shadow(24px 24px 6px rgb(0,0,0,.1))